body {
	font-size:18px;
	line-height:180%;
	letter-spacing:-0.15px;
	font-family:"HelveticaNEUE-LIGHT","APPLESDGothicNEO-LIGHT", sans-serif;
}
aside {
	max-width:960px;
	margin:0 auto;
	border-bottom:1px solid #555;
}
aside dt {
	float:left;
	margin-right:8px;
}
aside dd {
	overflow:hidden
}
article {
	max-width:960px;
	margin:0 auto;
}
h1,h2,strong {
	font-weight:500;
}
:lang(en) {
	font-size:0.9em;
	color:gray;
}
p {
	margin:0.6em 0;
}
blockquote {
	margin-left:1em;
	padding-left:1em;
	border-left:1px solid #555;
	color:#555
}
