body {
	font-size:16px;
}
aside {
	max-width:960px;
	margin:0 auto;
	font-family:sans-serif;
	border-bottom:1px solid #555;
}
aside dt {float:left;margin-right:8px}
aside dd {overflow:hidden}
article {
	max-width:960px;
	margin:0 auto;
	font-size:1.1em;
	line-height:1.8em;
	font-family:"HelveticaNEUE-LIGHT","APPLESDGothicNEO-LIGHT", sans-serif;
}
blockquote {
	margin-left:1em;
	padding-left:1em;
	border-left:1px solid #555;
	color:#555
}
