@charset "UTF-8";

body {
	font-size:4vmin;
	line-height:2;
	font-family: "APPLESDGothicNEO-UltraLIGHT", sans-serif;
	color:#333;
}

a {
	color:#7a43b6;
}

h1, ul, li {
	width:61vmax;
	margin:1em auto;
}
p {
	width:65vmax;
	margin:1em auto;
}
