@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
  font-size: 18px;
  line-height: 2em;
  font-family: 'Lato', 'Noto Sans KR', sans-serif; 
  text-align:center;
  color:#333;
}
h2 {
  display:inline-block;
  border-bottom:3px solid #333;
  margin:0.5em 20px;
}
ul, li {
  margin:0;
  padding:0;
  list-style:none;
}
li a {
  display:block;
  position:relative;
  padding:10px 20px;
  color:#555;
  text-decoration:none;
  transition:2s all ease;
  text-align:center;
}
li a::before {
  content:'';
  position:absolute;
  left:50%;
	right:50%;
  bottom:0;
  height:1px;
  background:#555;
  transition:2s all ease;
}
li a:hover {
  color:#000;
}
li a:hover::before {
  left:20px;
  right:20px;
}

@media (min-width:1024px) {
  body {
    width:900px;
    margin:40px auto 0;
    text-align:left
  }
  li a {
    text-align:left;
  }
  li a::before {
    left:20px;
    right:100%;
  }
}
