@charset "UTF-8";

body {
	line-height:1.5;
	font-size:2.2vmax;
	font-family: "APPLESDGothicNEO-LIGHT", sans-serif;
}

a {
	color:#7a43b6;
}
p {
	width:51vmax;
	margin:2em auto;
}
li {
	margin:1em 0;
}
