body {
  margin:0;
  padding:35px;
  font-family: 'Press Start 2P', cursive;
  background: #222;
  color:#fff;
  line-height:2.5em;
  text-align:center;
}
.display--start {
  position:absolute;
  left:50%;
  top:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}
.display--dialog {
  position:fixed;
  bottom:3%;
  left:50%;
  width:100%;
  max-width:80%;
  padding:0em 3em 1em;
  background:#000;
  border:solid #fff;
  border-radius:15px;
  -webkit-transform:translate(-50%, 0);
  transform:translate(-50%, 0);
}
h1 {
  color:#1883f9;
}
input[type="radio"]{
  position:absolute;
  left:-9999px;
}
input[type="radio"] + label {
  position:relative;
  padding-left:2em;
}
input[type="radio"] + label:hover::after,
input[type="radio"]:checked + label::after {
  content: ">";
  position:absolute;
  left:0;
  top:57%;
  -webkit-transform:translate(0, -50%);
  transform:translate(0, -50%);
}
input[type="radio"]:checked + label {
  color:#1883f9;
}
.inp--radio {
  width:23em;
  margin:0 auto;
  text-align:left;
}
.btn--next {
  position: absolute;
  right:1em;
  bottom:0.6em;
  font-size:1em;
  line-height:inherit;
  font-family:inherit;
  color:#fff;
  background:none;
  padding:1em;
  margin:0;
  border:0;
  outline:0;
}
.btn--next:hover {
  color:#1883f9;
}
.btn--next:active {
  color:crimson;
}
