<div class="display--dialog">
  <p>select your offer</p>
  <div class="inp--radio"><input type="radio" name="job" id="fe-dev"><label for="fe-dev">Front End Developer</label></div>
  <div class="inp--radio"><input type="radio" name="job" id="ui-dev"><label for="ui-dev">UI Developer</label></div>
  <button type="button" class="btn--next">&gt;</button>
</div>
