body {
  margin:0;
  font-family: 'Special Elite', cursive;
  background: #222;
  font-size:14px;
}
.title {
  color: white;
  display: block;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -.4px;
  line-height: 1.1458333333;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
.main-contents {
  padding:70px 15px 120px;
  overflow:hidden;
}
aside {
  float:left;
  width:10%;
}
nav h2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.7142857143;
  color: #424242;
  margin: 54px 0 16px 14px;
  max-width: 80%;
}
nav ul {
  margin:0;
  padding:0;
  overflow:hidden;
  border-left:1px solid #424242;
}
nav li:first-child {
  margin-top:0;
}
nav li {
  margin: 16px 0 0 -3px;
  padding: 0 0 0 14px;
}
nav a {
  color: #757575;
  font-weight: 400;
  padding: 1px 0;
  text-decoration: none;
}
main {
  float:left;
  width:90%;
  padding:0 0 8px;
  overflow-x:auto;
}
main section h2 {
  color: #424242;
  display: block;
  font-weight: 100;
  font-size: 60px;
  letter-spacing: -.4px;
  line-height: 1.1458333333;
  margin: 46px 0 0 0;
  -webkit-font-smoothing: antialiased;
}
main section ul {
  display:flex;
  flex-wrap:wrap;
  padding:0;
  margin:0;
}
main section li {
  position:relative;
  min-width:11em;
  line-height:1.8em;
  padding:1em;
  background:#292929;
  color:#fff;
  list-style:none;
}
main section li dl {
  padding:0;
  margin:0;
}
main section li time {
  font-size:0.9em;
  color:gray;
}
main section li dt {
  font-weight:500;
  border-bottom:1px solid #555;
  padding-bottom:6px;
  margin-bottom:9px;
}
main section li dd {
  margin:0;
}
.rest::after {
  content:'FAIL';
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%) rotate(45deg);
  padding:0.5em 1.5em 0.3em;
  font-size:3em;
  background:rgba(0,0,0,0.8);
  white-space:nowrap;
  letter-spacing:0.2em;
  font-weight:900;
}
@media (max-width:1535px) {
  .main-contents {
    padding:70px 15px 120px;
  }
  aside {
    float:none;
    width:100%
  }
  main {
    width:100%;
    float:none;
  }
  main section li {
    flex:auto;
    min-width:50%;
    box-sizing:border-box;
  }
}
