html, body {
	font-size: 18px;
	margin: 1.5rem;
	background: #eee;
}
article {
	max-width: 60rem;
	margin:0 auto;
	padding: 1rem 1.75rem;
	background:#fff;
	font-size:1rem;
	line-height:1.8rem;
	font-family:sans-serif;
	font-weight:200;
	letter-spacing:-0.065em;
	color:#222;
	box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:500;
}
.tit-strong {
	font-size: 2.5em;
	margin: 0.3em 0;
	word-break: break-all;
	font-family: "Helvetica NEUE", sans-serif;
	font-weight: 900;
}
.lst-strong {
	font-size: 1.35em;
	line-height: 3em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.lst-strong li {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.lst-strong li + li {
	border-top: 0;
}
.lst-strong a {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	color: crimson;
	text-decoration: none;
	font-weight: 300;
	font-family: "Helvetica NEUE", sans-serif;
}
.lst-strong small {
	font-size: 0.7em;
	margin-left: 0.5em;
}
.img-max {
	width:100%;
	max-width:960px;
}
blockquote {
	margin-left:1em;
	padding-left:1em;
	border-left:1px solid #555;
	color:#555
}
table {
	border-collapse:collapse;
}
table td,
table th {
	border:1px solid #555;
	padding:0.5em;
}
a {
	font-weight:700;
	letter-spacing:-0.035em;
}
:link {
	color:royalblue;
}
:visited {
	color:blueviolet;
}
code {
	color:crimson;
	font-family:"menlo", monospace;
}
pre {
	position:relative;
	background:#222;
	padding:1em 2em 0.7em;
	color: crimson;
	font-size:0.6em;
	line-height:2em;
	font-family:"menlo", monospace;
	white-space:pre-wrap;
}
pre .syntax-filename {
	display: block;
}
.ch_sl {
	color:coral;
}
.ch_vl {
	color:orange;
}
.ch_st {
	color:#2ac1bc;
}
.warning {
	border-bottom:5px solid #555;
}
ins.ch_sl,
ins.ch_vl,
ins.ch_st {
	color:coral;
	font-weight:bold;
	text-decoration: underline;
}
figure {
	text-align:center;
}

@media (max-width: 720px) {
	html, body {
		font-size: 16px;
		margin: 1rem;
	}
	article {
		max-width: 80rem;
		margin:0 auto;
		padding: 0.3rem 1rem;
		letter-spacing: 0px;
	}
	.lst-strong {
		font-size: 1em;
		line-height: 1.4em;
	}
	.lst-strong a {
		display: block;
		padding: 0.45em 0;
	}
	.lst-strong a small {
		display: block;
		margin: 0.4em 0 0;
		line-height: 1em;
	}
}
