body {
	font-size:22px;
	margin: 20px;
}
article {
	max-width:1120px;
	margin:0 auto;
	font-size:1em;
	line-height:180%;
	font-family:sans-serif;
	font-weight:300;
	letter-spacing:-0.065em;
	color:#222;
}
.img-max {
	width:100%;
	max-width:960px;
}
blockquote {
	margin-left:1em;
	padding-left:1em;
	border-left:1px solid #555;
	color:#555
}
table {
	border-collapse:collapse;
}
table td,
table th {
	border:1px solid #555;
	padding:0.5em;
}
a {
	font-weight:700;
	letter-spacing:-0.035em;
}
:link {
	color:royalblue;
}
:visited {
	color:blueviolet;
}
code {
	display:inline-block;
	padding:0 0.2em;
	color:white;
	background:#444;
	line-height:1.4em;
	font-family:"menlo", monospace;
}
pre {
	position:relative;
	background:#222;
	padding:1em 2em 0.7em;
	color:white;
	font-size:0.6em;
	line-height:2em;
	font-family:"menlo", monospace;
	white-space:pre-wrap;
}
pre .syntax-filename {
	position:absolute;
	left:25px;
	top:10px;
	color:red;
}
.ch_sl {
	color:coral;
}
.ch_vl {
	color:orange;
}
.ch_st {
	color:#2ac1bc;
}
.warning {
	border-bottom:5px solid #555;
}
strong {
	border-bottom:3px solid currentColor;
}
ins.ch_sl,
ins.ch_vl,
ins.ch_st {
	color:coral;
	font-weight:bold;
	text-decoration: underline;
}
figure {
	text-align:center;
}
