body {
  font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, Helvetica, Arial, sans-serif;
  background: #000;
  color: #000;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.Montserrat {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  position: relative;
  width: 1164px;
  margin: 0 auto;
}
.clearbox:after {
  content: '';
  display: block;
  clear: both;
}
/* grid from bootstrap */
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}
#globalHeader {
  background: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  padding: 5px 0;
}
#globalHeader form {
  float: left;
  margin: 5px;
}
#globalHeader form > input[type="search"] {
  border: 0;
  background: transparent;
  color: #ccc;
  width: 150px;
  height: 28px;
  font-size: 14px;
  outline: 0;
}
#globalHeader form > button {
  float: left;
  border: 0;
  background: transparent;
  color: #999;
  height: 28px;
  width: 30px;
  font-size: 14px;
  outline: 0;
}
#globalHeader .links {
  float: right;
  list-style: none;
  color: #777;
  margin: 5px;
  padding: 0;
  line-height: 28px;
}
#globalHeader .links > li {
  float: left;
  position: relative;
  white-space: nowrap;
}
#globalHeader .links > li:not(:last-child):after {
  content: '';
  display: inline-block;
  border-right: 1px solid #e0e0e0;
  height: 10px;
}
#globalHeader .links a {
  display: inline-block;
  padding: 0 10px;
}
#globalHeader .links > li > ul {
  display: none;
}
#globalHeader .links > li.cart i.fa {
  font-size: 16px;
}
#globalHeader .links > li.cart em.count {
  display: inline-block;
  font-style: normal;
  font-size: 9px;
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-align: center;
  border-radius: 9px;
  background: #333;
  color: #fff;
}
#globalHeader .links > li.cart .items {
  display: none;
  position: absolute;
  top: 28px;
  right: 0;
  width: 230px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  opacity: 0;
  padding: 5px;
  transform: translateY(10px);
  transition: opacity .3s, transform .3s;
  -webkit-transition: opacity .3s, transform .3s;
  -moz-transition: opacity .3s, transform .3s;
  -ms-transition: opacity .3s, transform .3s;
  -o-transition: opacity .3s, transform .3s;
}
#globalHeader .links > li.cart .items.show {
  opacity: 1;
  z-index: 10;
}
#globalHeader .links > li.cart .items:after,
#globalHeader .links > li.cart .items:before {
  position: absolute;
  bottom: 100%;
  right: 45px;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  pointer-events: none;
}
#globalHeader .links > li.cart .items:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
}
#globalHeader .links > li.cart .items:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #ccc;
  border-width: 7px;
  transform: translateX(1px);
}
#globalHeader .links > li.cart.active .items {
  opacity: 1;
  transform: translateY(0px);
  z-index: 10;
}
#globalHeader .links > li.cart .items ul {
  list-style: none;
  padding: 0;
  margin: 0 10px;
}
#globalHeader .links > li.cart .items li {
  clear: both;
  border-bottom: 1px solid #eee;
  height: 48px;
  padding: 5px;
}
#globalHeader .links > li.cart .items li:after {
  clear: both;
}
#globalHeader .links > li.cart .items li img {
  float: left;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: cover;
}
#globalHeader .links > li.cart .items li a {
  padding: 0;
}
#globalHeader .links > li.cart .items li strong,
#globalHeader .links > li.cart .items li small {
  display: block;
  margin-left: 54px;
  line-height: 28px;
  width: 146px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#globalHeader .links > li.cart .items li small {
  line-height: 20px;
}
#globalHeader .links > li.cart .items > a {
  display: block;
  text-align: center;
  color: #000;
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
#globalHeader .links > li.cart .items > a:hover {
  background: #000;
  color: #fff;
}
#main {
  background: #fff;
  padding: 40px 0;
}
#main .logo {
  margin: 0 0 30px;
  text-align: center;
}
#main .logo img {
  width: 361px;
  height: 56px;
}
#main .menubar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#main .menubar > ul {
  width: 920px;
  margin: 0 auto;
}
#main .menubar > ul > li {
  float: left;
  position: relative;
  width: 16.6%;
}
#main .menubar a {
  display: block;
  white-space: nowrap;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  transition: color 0.2s, background-color 0.2s;
  -webkit-transition: color 0.2s, background-color 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s;
  -ms-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
}
#main .menubar a:hover,
#main .menubar a:focus,
#main .menubar li.active > a {
  background: #000;
  color: #fff;
}
#main .menubar > ul > li > a {
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
#main .menubar .submenu {
  position: absolute;
  display: none;
  top: 30px;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  color: #000;
  padding: 1px;
  box-sizing: border-box;
  z-index: 10;
}
#main .menubar .submenu:after,
#main .menubar .submenu:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  pointer-events: none;
}
#main .menubar .submenu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -3px;
}
#main .menubar .submenu:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #ccc;
  border-width: 7px;
  margin-left: -4px;
}
#main .menubar li.active .submenu {
  display: block;
}
#main .menubar .submenu li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
#main .menubar .submenu a {
  font-size: 1.1em;
  padding: 10px;
}
#content {
  margin: 10px 0;
}
#content h2 {
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
#content .items {
  margin-top: 40px;
}
#content .items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#content .items li {
  float: left;
  width: 33.3%;
}
#content .items li > a {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 442px;
}
#content .items li > a > p {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  text-align: center;
  font-size: 1.7em;
  line-height: 1.5em;
}
#content .items li > a > p small {
  display: block;
  font-size: .65em;
}
#content.category:after {
  content: '';
  display: block;
  clear: both;
}
#content.category aside {
  float: left;
  width: 180px;
  padding-right: 10px;
  margin-right: 10px;
}
#content.category aside h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
#content.category aside ul {
  list-style: none;
  padding: 0 30px;
  margin: 0;
  font-size: 1.2em;
  line-height: 2em;
}
#content.category aside li.active {
  font-weight: bold;
  text-decoration: underline;
}
#content.category > section {
  margin-left: 200px;
}
#content.category .stream {
  list-style: none;
  margin: 30px 0 0;
  padding: 0;
}
#content.category .stream li {
  float: left;
  position: relative;
  width: 217px;
  height: 450px;
  text-align: center;
  line-height: 1.6em;
  margin-bottom: 15px;
}
#content.category .stream li figure {
  margin: 0;
}
#content.category .stream li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 217px;
  height: 386px;
}
#content.category .stream li img:first-child {
  position: relative;
  z-index: 2;
}
#content.category .stream li .price,
#content.category .stream li .retail-price {
  display: block;
}
#content.category .stream li .retail-price {
  color: #aaa;
  text-decoration: line-through;
}
#content.category .stream li.empty {
  float: none;
  width: auto;
  height: auto;
  padding: 30px 0;
  font-size: 1.5em;
}
#content.product .slider {
  float: left;
}
#content.product .slider .track {
  float: left;
  position: relative;
  width: 85%;
}
#content.product .slider .track img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#content.product .slider .track img:first-child {
  position: static;
}
#content.product .slider .thumbnail {
  float: left;
  width: 15%;
  list-style: none;
  padding: 0;
  margin: 0;
}
#content.product .slider .thumbnail li {
  display: block;
}
#content.product .slider .thumbnail li img {
  width: 100%;
  opacity: .5;
  transition: opacity 0.2s, transform 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s, transform 0.2s ease-in-out;
  -moz-transition: opacity 0.2s, transform 0.2s ease-in-out;
  -ms-transition: opacity 0.2s, transform 0.2s ease-in-out;
  -o-transition: opacity 0.2s, transform 0.2s ease-in-out;
  transform: scale(0.8);
}
#content.product .slider .thumbnail li.active img {
  transform: scale(1);
  opacity: 1;
}
#content.product .slider .thumbnail li a:hover img {
  opacity: 1;
}
#content.product .details {
  float: right;
}
#content.product .details h1,
#content.product .details .price {
  font-size: 2em;
}
#content.product .details .price,
#content.product .details .review {
  float: left;
}
#content.product .details .price {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
#content.product .details .price sup {
  font-size: .6em;
}
#content.product .details .review {
  line-height: 1.5em;
  color: #ccc;
}
#content.product .details .review span {
  display: inline-block;
  margin-left: 1em;
  color: #999;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
#content.product .details .options {
  padding-top: 1.3em;
  margin-top: 3em;
  border-top: 1px solid #eee;
}
#content.product .details .options label {
  display: block;
  margin-bottom: 1em;
}
#content.product .details .color,
#content.product .details .size {
  width: 49%;
  background: #000;
}
#content.product .details select {
  width: 100%;
  background: #000;
  border: 0;
  color: #fff;
  height: 3em;
}
#content.product .details .color {
  float: left;
}
#content.product .details .size {
  float: right;
}
#content.product .details .options #add_to_cart {
  border: 0;
  width: 49%;
  background: #0074d9;
  color: #fff;
  margin-top: 1em;
  font-size: 1.3em;
  height: 2.5em;
}
#content.product .details dl {
  padding-bottom: 1.3em;
  border-bottom: 1px solid #eee;
}
#content.product .details dt {
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border-top: 1px solid #eee;
  margin-top: 1em;
  color: #333;
}
#content.product .details dt a {
  display: block;
  padding-top: 1em;
}
#content.product .details dt a:before {
  content: '+';
  float: right;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}
#content.product .details dt.collapsed a:before {
  transform: rotate(-225deg);
}
#content.product .details dd {
  line-height: 1.5em;
  font-size: 1.2em;
  margin: 1.5em 0 0 0;
  height: auto;
  overflow: hidden;
  transition: max-height 0.2s, margin-top 0.2s, opacity 0.2s;
  -webkit-transition: max-height 0.2s, margin-top 0.2s, opacity 0.2s;
  -moz-transition: max-height 0.2s, margin-top 0.2s, opacity 0.2s;
  -ms-transition: max-height 0.2s, margin-top 0.2s, opacity 0.2s;
  -o-transition: max-height 0.2s, margin-top 0.2s, opacity 0.2s;
  color: #555;
  opacity: 1;
}
#content.product .details dd.collapsed {
  max-height: 0;
  margin-top: 0;
  opacity: 0;
}
#content.product .suggestion h2 {
  border-bottom: 1px solid #eee;
}
#content.product .suggestion h2 span {
  position: relative;
  background: #fff;
  top: .5em;
  padding: 0 1em;
  font-weight: normal;
}
#content.product .suggestion ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#content.product .suggestion li {
  float: left;
}
#content.product .suggestion li img {
  width: 100%;
}
#content.product .suggestion li strong {
  display: block;
}
#content.faq {
  margin: 60px 120px;
}
#content.faq .banner {
  padding: 30px;
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 3px;
  text-align: center;
}
#content.faq .banner > div {
  display: inline-block;
  text-align: left;
}
#content.faq .banner i.fa-phone {
  float: left;
  font-size: 3em;
}
#content.faq .banner i.fa-user {
  float: left;
  font-size: 6em;
  color: #555;
}
#content.faq .banner p {
  float: left;
  font-size: 2.5em;
  margin: 0 0 0 1em;
}
#content.faq .banner p strong {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: #0074d9;
}
#content.faq .banner p small {
  display: block;
  font-size: .6em;
  margin-top: .5em;
}
#content.faq form {
  margin: 25px 0;
  padding: 0;
  text-align: center;
}
#content.faq form .box {
  display: inline-block;
  white-space: nowrap;
  line-height: 26px;
  font-size: 1.1em;
  color: #0074d9;
}
#content.faq form label {
  margin-right: 1em;
  font-weight: bold;
}
#content.faq form fieldset {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 2px solid #0074d9;
}
#content.faq form select,
#content.faq form input {
  border: 0;
  background: #fff;
  color: #555;
}
#content.faq form select {
  width: 120px;
  height: 26px;
  font-size: 1.1em;
}
#content.faq form .seperator {
  margin: 6px 0;
  height: 14px;
  border-left: 1px solid #0074d9;
}
#content.faq form input {
  font-size: 1.05em;
  height: 24px;
  border: 0;
  outline: none;
  width: 300px;
}
#content.faq form button {
  height: 28px;
  border: 0;
  background: #0074d9;
  color: #fff;
  font-size: 1.1em;
  width: 80px;
}
#content.faq dt {
  line-height: 35px;
  border-bottom: 1px solid #eee;
  padding: 0 1em;
}
#content.faq dt:before {
  content: 'Q';
  display: inline-block;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  margin-right: 1em;
  font-size: 1.5em;
}
#content.faq dd {
  display: none;
  margin: 0;
  padding: 1em 2em;
  line-height: 1.6em;
  border-bottom: 2px solid #ccc;
  background: #f5f5f5;
}
#content.faq dt.open {
  border-top: 2px solid #ccc;
  border-bottom-color: #ccc;
  margin-top: -2px;
  background: #f5f5f5;
}
#content.faq dt.open + dd {
  display: block;
}
#content.login {
  width: 400px;
  margin: 60px auto;
}
#content.login form {
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  padding: 30px 20px;
  border-radius: 5px;
}
#content.login form h1 {
  text-align: center;
  margin: 0;
  padding-bottom: .5em;
}
#content.login .field {
  padding: 0;
  border: 1px solid #e2e2e2;
}
#content.login fieldset {
  position: relative;
  border: 0;
  padding: 0;
}
#content.login label {
  display: inline-block;
  line-height: 14px;
  font-weight: bold;
  font-size: 12px;
  width: 82px;
  text-align: right;
  margin: 12px 0;
  padding-right: 14px;
  border-right: 1px solid #ddd;
}
#content.login input {
  border: 0;
  outline: 0;
  font-size: 1.2em;
  line-height: 38px;
  height: 38px;
  width: 230px;
  padding: 0 10px;
  box-sizing: border-box;
}
#content.login button {
  display: block;
  width: 100%;
  border: 0;
  background: #0074d9;
  color: #fff;
  font-size: 1.5em;
  padding: .6em;
  margin-bottom: 40px;
}
#content.login .find {
  float: left;
  color: #999;
}
#content.login .signin {
  float: right;
  color: #999;
}
#content.login .find a,
#content.login .signin a {
  font-weight: bold;
  color: #000;
}
#content.login fieldset.optional {
  position: relative;
  margin-top: 2em;
  padding-top: 1em;
}
#content.login fieldset.optional legend {
  position: absolute;
  top: -1em;
  left: .5em;
  font-size: 1.1em;
  font-weight: bold;
}
#content.error h1 {
  text-align: center;
  font-size: 10em;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  margin: 1em 0 0;
}
#content.error p {
  text-align: center;
  margin-bottom: 10em;
}
#globalFooter {
  background: #000;
  padding: 50px 0 20px;
}
#globalFooter .logo {
  float: left;
  width: 176px;
  height: 46px;
  margin: 0 90px 30px 0;
}
#globalFooter section {
  float: left;
  margin-right: 90px;
}
#globalFooter section h3 {
  margin: 0 0 15px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #aaa;
  font-weight: normal;
}
#globalFooter section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1.8em;
  font-size: 1.05em;
}
#globalFooter section.connect {
  float: right;
}
#globalFooter section a:hover,
#globalFooter section a:focus {
  text-decoration: underline;
}
#globalFooter address {
  display: block;
  clear: both;
  padding-top: 40px;
  color: #777;
  text-align: center;
}
.carousel {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.carousel.hover > a,
.carousel:hover > a {
  opacity: .8;
}
.carousel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  height: 100%;
}
.carousel ul li {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.carousel ul li > a {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel > a {
  position: absolute;
  font-size: 100px;
  top: 50%;
  margin-top: -50px;
  color: #fff;
  opacity: 0;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
}
.carousel > a.prev {
  left: 20px;
}
.carousel > a.next {
  right: 20px;
}
