@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
  font-size: 18px;
  line-height: 2em;
  font-family: 'Lato', 'Noto Sans KR', sans-serif; 
}
.headernotes {
  margin: 0;
  margin-bottom: 2em;
  padding: .5em 2em;
  border: solid thin #c99;
  color: #800;
  background-color: #fff5f5;
  font-size: smaller;
  border-radius: 4px;
}

.headernotes p {
  margin: 0.8em 0;
}

.headernotes em {
  font-style :normal;
  font-weight :bold;
}

.headernotes .meta dt {
  width: 4em;
  float: left;
  clear: left;
  font-weight: normal;
}

.transnote {
  margin: 1em 0;
  padding: .5em 2em;
  border: solid thin #c99;
  color: #800;
  background-color: #fff5f5;
  font-size: smaller;
}

span.transnote {
  margin: 0;
  padding: 0.2em;
}

.transbuttons {
  position:fixed;
  right:10px;
  top:10px;
  background:#999;
  padding:0 13px;
}
:lang(en) {
	font-size:0.7em;
  margin-top:0.5em;
  margin-bottom:1em;
  color:#555;
}
p:lang(ko) {
  margin-bottom:0;
}

